#m-site-notice {
    border:1px solid #fec;
    border-width:1px 0;
    line-height:30px;
    text-align:center;
    background-color:#fff
}
#m-site-notice .content {
    width:990px;
    margin:0 auto;
    color:#666
}
#m-site-notice .icon {
    background-color:#e8374d;
    border-radius:4px;
    color:#fff;
    padding:4px;
    -webkit-transform:scale(.5);
    -moz-transform:scale(.5);
    display:inline-block;
    line-height:14px;
    font-size:14px;
    line-height:7px\9;
    font-size:7px\9;
    margin-right:4px\9
}
#m-site-notice a {
    color:#e8374d
}
#m-site-notice .icon,#m-site-notice .text,#m-site-notice a {
    vertical-align:middle
}
