#m-search-hot {
    position:relative;
    overflow:hidden;
    left:-9px;
    top:2px
}
#m-search-hot li {
    float:left;
    position:relative;
    left:-1px
}
#m-search-hot li:before {
    content:'\20';
    height:8px;
    width:0;
    border-left:1px solid #a9a9a9;
    vertical-align:middle;
    font-size:0;
    display:inline-block
}
#m-search-hot a {
    color:#a9a9a9;
    text-decoration:none;
    cursor:pointer;
    padding:2px 5px;
    vertical-align:middle;
    margin:0 3px
}
#m-search-hot a:hover {
    color:#c40000
}
